.wmde-markdown {
    background-color: var(--default-background) !important;
    border-radius: 10px !important;
    padding-top: 20px !important;
    border: none !important;
    color: var(--primary-black) !important;
    width: 100% !important;
  }
  
  [class^="language"] {
    color: var(--just-grey) !important;
  }
  
  /* MDEditor CSS */
  .wmde-markdown-var {
    width: 100% !important;
    height: 100% !important;
    min-height: 45vh !important;
    background-color: #f0f0f0 !important;
    border-radius: 6px !important;
    padding: 20px !important;
    border: 1px solid var(--just-grey);
    color: var(--primary-black);
  }
  .w-md-editor-toolbar {
    margin-bottom: 20px;
  }
  /* .w-md-editor-content {
  
  }
  .w-md-editor-bar {
  
  } */
  .w-md-editor-text-input {
    padding: 0;
  }
  
  